ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}

h1 a{
	/*
	display: inline-block;
	background: url('../img/logo.jpg') no-repeat;
	height: 70px;	
	padding: 20px 0 0 20px;	
	*/
}

h2 a, h3 a{
	color:black;	
}

h2 a:hover{
	color:olive;
}

h1, h2, h3 {
	font-family: georgia, serif;
}

p.pubdate {
	font-style: italic;
	font-size: 0.9em;
}

li.sidebar {
	
}

.sidebar h3{
	font-size: 1em;
	line-height: 1.2em;
	margin-bottom: 0; 
}

.sidebar ul{
	margin-left: 0;
	list-style-type: none;
}


